<!-- Add your custom scripts/links/tags here that should go in the <head> section -->
<script>console.log("Hello from 'layouts/partials/extended_head.html'")</script>

<!-- add google CJK fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;500;700&family=Noto+Serif+SC:wght@400;500;700&display=swap" rel="stylesheet">

<!-- add custom css -->
<link rel="stylesheet" href="/css/even-custom.css">